@import '~antd/es/style/themes/index';

:global {
  // .ant-row {
  //   margin-left: -35px;
  // }

  .ant-pro-table-list-toolbar-container {
    display: none;
  }

  .ant-table-cell {
    a {
      float: right;
    }

    &::before {
      display: none;
    }

    .ant-progress {
      width: 200px;
    }
  }
}

:global(.ant-table-thead) {
  th:last-of-type {
    text-align: end;
  }
}

// .ant-table-thead {
//   th:last-of-type {
//     text-align: end;
//   }
// }

.reportBtn {
  margin-right: 0;
}

.proTitle {
  .ant-row {
    margin-left: -35px;
  }

  .ant-progress {
    .ant-progress-inner {
      width: 200px;
    }
  }

}
