@import '~antd/es/style/themes/index';

:global {
  .ant-pro-table-list-toolbar-container {
    display: none;
  }

  .ant-table-cell {
    a {
      float: right;
    }

    &::before {
      display: none;
    }

    .ant-progress {
      width: 200px;
    }
    &last-child{
      color: red;
    }
  }
}

// :global(.ant-table-thead) {
//   th:last-of-type {
//     text-align: end;
//   }
// }


.reportBtn {
  margin-right: 0;
}

.proTitle {
  .ant-row {
    margin-left: -35px;
  }

  .ant-progress {
    .ant-progress-inner {
      width: 200px;
    }
  }
}
.ant-table-container table > thead > tr:first-child th:last-child{
  text-align: end;
}

.ant-table-tbody > tr > td:last-child{
  text-align: end;
}