@import '~antd/es/style/themes/index';

:global(.template .ant-pro-card-header) {
  flex-direction: column;
  padding: 0;

}

:global(.template .ant-pro-card-title) {
  width: 100%;
}


// :global(.template .context-body-text) {
//   padding: 20px;
// }

:global(.template .ant-pro-card-body) {
  margin: 0 !important;
  padding: 0 !important;
}

:global(.template .ant-row) {
  background-color: #f3f3f3;
  // margin-top: -24px;
}

:global(.template .ant-pro-list-row-card) {
  margin: 0 !important;
}

:global(.ant-table-cell) {
  &::before {
    display: none;
  }
}

:global(.template .ant-spin-container) {
  margin-top: 0;
}

:global(.pageIntroduce) {
  padding-bottom: 88px;
  min-height: 100vh;
  background-color: #5200db;
  background-image: url(//qzz-static.forwe.store/evaluation-web/imgs/pdp/bg.png);
  background-size: 100% auto;

  .describeBox {
    width: 100%;

    .describeImg {
      width: 100%;
      height: auto;
    }
  }
}

.buttonBox {
  position: fixed;
  bottom: 0;
  padding: 8px 0;
  background-color: #fff;

  .button {
    width: 330px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    background: linear-gradient(225deg, #fb16ff 0%, #f51387 100%);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
  }
}

.no_buy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin-top: 15px;
    font-size: 16px;
  }
}

.card_layout {
  display: flex;
  flex-wrap: wrap;

  .card_wrapper {
    position: relative;
    height: 100%;
    width: 284px;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 16px;
    margin-bottom: 16px;

    .obscuration {
      width: 284px;
      height: 100%;
      position: absolute;
      font-size: 18px;
      line-height: 340px;
      text-align: center;
      background-color: #000;
      color: #fff;
      cursor: pointer;
      opacity: 0.5;
    }

    .card_content {
      width: 284px;

      .card_top {
        cursor: pointer;

        header {
          width: 284px;
          height: 44px;
          background: #1890FF;
          line-height: 44px;
          font-size: 16px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: rgba(255, 255, 255, 0.85);
          padding-left: 15px;
        }

        main {
          padding: 15px;
          background-color: #fff;

          div {
            font-size: 16px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            line-height: 26px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 22px;
          }

          p {
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            margin-bottom: 5px;

            span {
              font-size: 14px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.85);
            }
          }
        }
      }

      footer {
        width: 284px;
        height: 43px;
        background: #E5F2FF;
        line-height: 43px;
        text-align: center;
        font-size: 16px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #1890FF;
        cursor: pointer;
      }
    }
  }
}
