.addPeople_title {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #9EA7B4;
    line-height: 20px;
    margin-bottom: 18px;
}
.addPeople_input{
    margin-bottom: 40px;
}