.detail_layout {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 24px 24px;
    background-color: var(--white-color);

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        .detail_nav {
            font-size: 20px;
            font-weight: 400;
            color: var(--text-color-secondary);
        }
    }

    &>nav {
        width: 100%;
        min-width: 1104px;


        .detail_titleCard {
            padding: 16px;
            background-color: var(--bg-color-1);
            border-radius: 8px;
            display: flex;
            align-items: center;
            overflow: hidden;

            img {
                width: 267px;
                height: 100px;
                margin-right: 17px;
                border-radius: 5px;
            }

            .detail_right {
                width: 100%;

                .detail_top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 12px;

                    .detail_title {
                        display: flex;
                        align-items: center;

                        p {
                            font-size: 24px;
                            font-weight: 500;
                            color: var(--text-color);
                            margin-right: 31px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            max-width: 500px;
                            margin-bottom: 0;
                        }

                        span {
                            background: #E7F1FF;
                            border-radius: 4px;
                            padding: 3px 10px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #657180;
                            white-space: nowrap;
                        }
                    }
                }

                .detail_bottom {
                    width: 100%;
                    font-size: 14px;
                    font-weight: 400;
                    color: var(--text-color-secondary);
                    line-height: 20px;
                    // width: 680px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
            }
        }
    }

    .tabs {
        :global {
            .ant-tabs-tab-btn {
                font-size: 16px;
            }
        }
    }

    .detail_wrapper {
        width: 100%;
        // height: 100vh;
        // overflow-y: scroll;



        main {
            background-color: #F7F7F7;
            padding: 24px 32px;
            width: 100%;

            .detail_main_header {
                display: flex;
                align-items: center;

                .detail_main_title {
                    font-size: 18px;
                    
                    font-weight: 500;
                    color: #464C5B;
                    margin-right: 15px;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: '';
                        width: 4px;
                        height: 18px;
                        background-color: var(--primary-color);
                        border-radius: 3px;
                        display: inline-block;
                        margin-right: 8px;
                    }
                }
            }

            .detail_main_chart {
                display: grid;
                margin-top: 24px;
                grid-template-columns: repeat(3, 32%);
                grid-gap: 20px;
                justify-content: space-between;

                .detail_percentageComplete {
                    // width: 362px;
                    // height: 184px;
                    background: var(--white-color);
                    border-radius: 4px;
                    padding: 14px 16px;

                    p {
                        font-size: 14px;
                        
                        font-weight: 500;
                        color: #464C5B;
                    }

                    .detail_percentageComplete_wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 29px;

                        .detail_percentageComplete_info {
                            margin-left: 28px;

                            ul {
                                list-style: none;
                                font-size: 14px;
                                font-weight: 400;
                                color: var(--text-color-secondary);
                                display: flex;
                                align-items: center;
                                margin-bottom: 0;

                                li {
                                    display: inline-block;
                                    margin-left: 16px;
                                    font-size: 14px;
                                    font-weight: 500;
                                    color: var(--text-color);
                                }

                                &::before {
                                    content: '';
                                    width: 6px;
                                    height: 6px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    margin-right: 7px;
                                }

                            }

                            ul:nth-child(1) {
                                margin-bottom: 18px;

                                &::before {
                                    background-color: var(--success-color);
                                }

                            }

                            ul:nth-child(2) {
                                &::before {
                                    background-color: var(--primary-color);
                                }
                            }
                        }
                    }
                }

                .detail_proportion {
                    background: var(--white-color);
                    border-radius: 4px;
                    padding: 14px 16px;

                    .detail_proportion_wrapper {
                        margin-top: 29px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .detail_distribution {
                    background: var(--white-color);
                    border-radius: 4px;
                    padding: 14px 16px;
                    position: relative;

                    .detail_magnify {
                        position: absolute;
                        right: 10px;
                        cursor: pointer;
                    }

                    p {
                        margin-bottom: 10px;
                    }

                    .detail_distribution_wrapper {
                        display: flex;
                        flex-flow: row wrap;
                        max-height: 200px;
                        overflow: hidden;

                        .detail_distribution_tag {
                            // font-size: 14px;
                            // 
                            // font-weight: 400;
                            // padding: 2px 5px;
                            margin: 0 12px 7px 0;
                            border: none;
                            cursor: pointer;
                            // border-radius: 2px;

                        }
                    }
                }
            }

            .detail_main_chart>div {
                flex: 1;

            }

        }
    }

}