.tabTitle {
  .ant-row {
    margin-left: -35px;
  }

  .ant-pro-card {
    margin-bottom: 0;
  }

  .ant-pro-table-list-toolbar-container {
    padding: 0;
  }

  //   .ant-space{
  //       float: right;
  //   }
//   .ant-table-thead{
//       tr{
//           .ant-table-cell:nth-last-child(1){
//               color: red;
//           }
//       }
//   }
}