.recruitEvaluation_layout {
  background-color: var(--white-color);
  // overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  .recruitEvaluation_content {
    flex: auto;
    overflow: auto;
    padding: 24px 34px 0;
  }

  h1 {
    font-size: 20px;
    
    font-weight: 500;
    color: #464C5B;
    margin-bottom: 32px;
  }

  nav {
    display: flex;
    // align-items: center;
    justify-content: space-between;

    .from_wrapper {
      display: flex;
      flex-flow: row wrap;

      // justify-content: space-between;
      :global {
        .ant-form-item-label {
          width: 80px;
        }

        .ant-form-item {
          margin-bottom: 16px;
        }
      }
    }

    .nav_right {
      display: flex;
      // align-items: center;
      min-width: 240px;
      justify-content: flex-end;

      button {
        margin-left: 16px;
      }

      .nav_right_more {
        font-size: 14px;
        
        font-weight: 400;
        color: #2B85FF;
        line-height: 20px;
        cursor: pointer;

        span {
          margin-right: 4px;
        }
      }
    }

    :global {
      .ant-form-item {
        margin-bottom: 7px;
      }
    }
  }

  main {
    section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    .table_column_text {
      font-size: 14px;
      
      font-weight: 400;
      color: #657180;
      line-height: 22px;
    }

    .table_column_link {
      display: flex;
      align-items: center;
    }

    .table_column_link_text {
      font-size: 14px;
      
      font-weight: 400;
      color: #657180;
      line-height: 22px;
      display: inline-block;
      width: 85%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status_base {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      
    }

    .status_answer {
      color: #FF9900;
    }

    .status_start {
      color: #00CC66;
    }

    .copyIcon {
      font-size: 12px;
      margin-left: 5px;
      cursor: pointer;
      color: #2B85FF;

      &:hover {
        color: #2B85FF;
      }
    }

    .showReport {
      cursor: pointer;
      font-size: 14px;
      
      font-weight: 400;
      color: #2B85FF;
      line-height: 20px;
    }

    .columns_btn_lock {
      padding: 0;
      white-space: pre-wrap;
    }
  }

  footer {
    position: sticky;
    bottom: 0;
    margin: 0;
    height: 85px;
    padding: 20px;
    z-index: 2;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .footer_line {
      width: 100%;
      height: 1px;
      background-color: #E3E8EE;
      box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.06);
      margin-bottom: 20px;
    }
  }
}